<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Where is this 拉麵?</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid card col-md-8">
        <center>
            <h1>Where is this 拉麵?</h1>
            <font>札幌のラーメンの画像をアップロードするとどこのラーメン屋さんのラーメンか教えてくれます。</font>
            <p>※現時点で 麵屋eiji, ラーメン虎, コクミンショクドウ, けせらせら の４店舗しか判別できません。</p>
            <div class="form-group">
                <form method="post" enctype="multipart/form-data">
                    <div class="input-group col-md-5">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Select Image<input type="file" id="img_file" name="img_file" style="display: none">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly="">
                    </div>
                    <div class="input-group col-md-5" style="margin-bottom: 50px">
                        <input type="submit" value="送信" class="btn btn-dark" style="margin:0 0 0 auto">
                    </div>
                </form>
                <div class="card">
                    <div>
                        <font size="5">{{ sentence1 }}{{ store_name }}</font>
                    </div>
                    <div>
                        <font size="5">{{ sentence2 }}{{ probability }}</font>
                    </div>
                </div>
            </div>
        </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.parent().parent().next(':text').val(label);
        });
    </script>
</body>

</html>